/* 
    ctrl d allows us to select highlighted text
    then
    ctrl f to find all occurrences
*/

/*
    input:"(type of input"

    input:text

    produces:
    <input type="text"></input>
*/

/*
    javascript testing enviornment

    ctrl + p -> quokka.js
*/
