h1 {
  text-align: center;
  color: darkcyan;
  font-family: "Grenze Gotisch", cursive;
}

th {
  background-color: rgb(145, 182, 194);
}

th,
td {
  padding: 10px;
  text-align: center;
}

.profile-image {
  width: 50%;
}

.thick-black-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
}

.silver-background {
  background-color: silver;
}
