body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  background-color: rgba(238, 238, 238, 0.897);
}

main {
  display: block;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 0.8em;
  margin: 50px 0;
  text-align: center;
  font-weight: bold;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

h6 {
  margin: 0 0 50px 0;
}

p {
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

figure {
  display: block;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  background-color: rgb(255, 255, 255);
}

#img-div {
  background: white;
  padding: 40px;
  margin: 0;
}

#image {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.23), 6px 6px 6px rgba(0, 0, 0, 0.26);
}

figurecaption {
  display: block;
  font-size: 16px;
  margin: 20px auto;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto; /* uses margin property to center list items in center of screen */
  text-align: left;
  line-height: 1.9;
  font-size: 0.85em;
}
